<div>
  <app-headbar></app-headbar>
  <div class="center-canvas">
    <h1 class="title">歷史訂單</h1>
    <div class="order-container">
      <table class="order-table" *ngIf="currentOrderId === undefined">
        <thead>
          <tr>
            <th class="col-state">狀態</th>
            <th class="col-id">訂單編號</th>
            <th class="col-total">總金額</th>
            <th class="col-delivery">外送員</th>
            <th class="col-info">詳細資料</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of getReverseList()">
          <tr>
            <td class="col-state" title="{{order.stateToString()}}">
              <i [ngClass]="{
                'fa-check-circle':order.isFinished(),
                'fa-arrow-circle-right':order.isGoingOrWaitingOrPending(),
                'fa-times-circle':order.isError(),
                'fas':true}"></i>
            </td>
            <td class="col-id col-id-td"><a href="/history?id={{ order.orderId }}">{{ order.orderId }}</a></td>
            <td class="col-total">{{ order.getFinalPrice() }}</td>
            <td class="col-delivery">{{ order.deliveryStaff }}</td>
            <td class="col-info">
              <button (click)="toggleShowInfo(order)" [ngClass]="{'fas':true, 'btn-info':true, 'fa-bars':!order.showInfo, 'fa-arrow-down':order.showInfo}"></button>
            </td>
          </tr>
          <tr *ngIf="order.showInfo">
            <td class='info-display' colspan="5"><app-order-info-display [order]="order" [inTable]='true'></app-order-info-display></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="currentOrderId !== undefined"><app-order-info-display [order]="selectedOrder" [inTable]='false'></app-order-info-display></div>
    </div>
  </div>
</div>