.title {
    text-align: center;
    letter-spacing: 3px;
    font-size: 36px;
}

.center-canvas {
    position: absolute;
    top: 10vh;
    margin-bottom: 70px;
    width: 100vw;
    height: calc(90vh - 70px);
}

.order-container {
    margin-top: 20px;
    position: absolute;
    max-height: 70vh;
    height: 70vh;
    overflow: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width: 650px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    border: maroon 2px dashed;
}

a {
    text-decoration: none;
}

.order-table, th, td {
    text-align: center;
    border: darkslategray 3px solid;
    border-collapse: collapse;
    overflow: auto;
}
.order-table th {
    font-size: 20px;
    background: lemonchiffon;
}
.order-table td {
    font-size: 18px;
    white-space: pre;
}

.order-table {
    table-layout: fixed;
    position: relative;
    left: calc(50% - 290px);
}

.col-state {
    width: 60px;
    max-width: 60px;
}
.col-id {
    width: 180px;
    max-width: 180px;
}
.col-total {
    width: 120px;
    max-width: 120px;
}
.col-delivery {
    width: 120px;
    max-width: 120px;
}
.col-info {
    width: 100px;
    max-width: 100px;
}
.col-state, .col-id, .col-total, .col-delivery, .col-info {
    overflow: auto;
}

.col-id-td {
    font-size: 15px !important;
}

.btn-info {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: darkslategray;
}
.btn-info:focus {
    outline: none;
}

.fa-check-circle {
    color: green;
}
.fa-arrow-circle-right {
    color: blue;
}
.fa-times-circle {
    color: red;
}

.info-display {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: left;
    max-width: 500px;
    overflow: hidden auto;
    animation: dropDownAnimation 1.5s 1;
}
@keyframes dropDownAnimation {
    0% { opacity: .2; }
    60% { opacity: .9; }
    100% { opacity: 1; }
}

@media screen and (max-width: 700px) {
    .order-container {
        width: 100%;
        border-right: none;
        border-left: none;
        padding-right: 0;
    }
    .order-table {
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
@media screen and (max-width: 600px) {
    .col-state {
        width: 35px;
        max-width: 35px;
    }
    .col-id {
        width: 160px;
        max-width: 160px;
    }
    .col-total {
        width: 65px;
        max-width: 65px;
    }
    .col-delivery {
        width: 70px;
        max-width: 70px;
    }
    .col-info {
        width: 50px;
        max-width: 50px;
    }
}
@media screen and (max-width: 450px) {
    .col-state {
        width: 35px;
    }
    .col-id {
        width: 80px;
    }
    .col-total {
        width: 65px;
    }
    .col-delivery {
        width: 70px;
    }
    .col-info {
        width: 25px;
    }
}