<div class="container">
    <header><app-headbar></app-headbar></header>
    <img src='/assets/img/ocean_eat.svg' alt="LOGO" class="banner">
    <div class="centerCanvas">
        <div [ngClass]="{'searchBar': true, 'searchHover': hovering}">
            <input type="text" id="searchInput" [ngClass]="{'searchHover': hovering}" placeholder="Search for restaurant..." (keyup)="searchTextChange($event)" spellcheck="false">
        </div>
        <div [ngClass]="{'searchIconBackground': true, 'searchHoverBg': hovering}"></div>
        <i class="fas fa-search" id="searchIcon" [ngClass]="{'searchHoverBg': hovering}" (click)="search()"></i>
    </div>
    <div id='wave'><div class=footerBanner></div></div>
    <footer class="versionDisplay">{{VersionNumber}}</footer>
</div>