.container {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
    background: skyblue;
    font-family: sans-serif;
}

.versionDisplay {
    float: left;
    bottom: 0;
    position: absolute;
    color: transparent;
    margin-left: 5px;
    margin-bottom: 5px;
}
.versionDisplay:hover {
    color: aquamarine;
}

.btn {
    height: 28px;
    font-size: 16px;
    border: 0;
    margin: 5px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: darkcyan;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}

#register {
    background-color: darkcyan;
    color: lemonchiffon;
}

#wave {
    width: 100vw;
    height: 250px;
    bottom: 0px;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}
.p5Canvas {
    position: absolute;
    left: 50%;
    width: 100vw !important;
    transform: translate(-50%, 0%);
}
#defaultCanvas0 {
    width: 90vw;
    height: 230px;
}
.footerBanner {
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 10px;
    background-color: rgb(0,119,200);
}

.banner {
    margin: 0;
    position: absolute;
    width:600px;
    top: calc(50% - 170px);
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bannerAnime 5s 1;
}
@keyframes
bannerAnime {
    0% {
        opacity: .1;
        top: calc(50% - 150px);
        width: 450px;
    }
    75% {
        width: 600px;
        top: calc(50% - 170px);
    }
    100% {
        opacity: 1;
    }
}

#searchIcon {
    transition: 0.2s;
    cursor: pointer;
    font-size: 26px;
    color: lightblue;
    
    position: absolute;
    top: 50%;
    padding-left: 0.5px;
    left: calc(50% + 180px);
    transform: translate(-50%, -50%);
}
.searchIconBackground {
    transition: 0.2s;
    background-color: darkcyan;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: calc(50% + 180px);
    transform: translate(-50%, -50%);
}

.searchBar {
    transition: 0.2s;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #34495e;
    border-radius: 40px;
    width: 300px;
    height: 40px;
    text-align: center;
}

#searchInput{
    transition: 0.2s;
    background: rgba(0, 0, 0, 0);
    color: lightcyan;
    width: 280px;
    height: 25px;
    font-size: 24px;
    border: 0;
    padding-top: 8px;
    text-align: center;
}
#searchInput:focus {
    outline: none;
}

.searchHover {
    transition: 0.3s !important;
    width: 550px !important;
}
.searchHoverBg {
    transition: 0.3s !important;
    left: calc(50% + 305px) !important;
}

/* .searchBar:hover, #searchInput:hover {
    transition: 0.3s;
    width: 550px;
}
.searchBar:hover ~ #searchIcon, .searchBar:hover ~ .searchIconBackground {
    transition: 0.3s;
    left: calc(50% + 305px);
} */

@media screen and (max-width: 700px) {
    .banner {
        width:500px;
        animation: bannerAnime 5s 1;
    }
    @keyframes
    bannerAnime {
        0% {
            opacity: .1;
            top: calc(50% - 150px);
            width: 400px;
        }
        75% {
            width: 500px;
            top: calc(50% - 170px);
        }
        100% {
            opacity: 1;
        }
    }

    .searchBar {
        width: 50vw;
    }
    #searchInput{
        width: 45vw;
    }
    
    #searchIcon {
        left: 82vw;
    }
    .searchIconBackground {
        left: 82vw;
    }
    .searchHover {
        transition: 0.3s !important;
        width: 70vw !important;
    }
    .searchHoverBg {
        transition: 0.3s !important;
        left: 92vw !important;
    }
}

@media screen and (max-width: 600px) {
    .banner {
        width:450px;
        animation: bannerAnime 5s 1;
    }
    @keyframes
    bannerAnime {
        0% {
            opacity: .1;
            top: calc(50% - 150px);
            width: 350px;
        }
        75% {
            width: 450px;
            top: calc(50% - 170px);
        }
        100% {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 500px) {
    .banner {
        width: calc(100vw - 50px);
        animation: bannerAnime 5s 1;
    }
    @keyframes
    bannerAnime {
        0% {
            opacity: .1;
            top: calc(50% - 150px);
            width: calc(100vw - 100px);
        }
        75% {
            width: calc(100vw - 50px);
            top: calc(50% - 170px);
        }
        100% {
            opacity: 1;
        }
    }
}

@media screen and (max-height: 650px) {
    .banner {
        width: auto;
        height: 25vh;
        top: 30%;
        animation: none;
    }
}
@media screen and (max-height: 500px) {
    #wave {
        height: 45vh;
    }
    .banner {
        height: 140px;
    }
    .centerCanvas {
        position: relative;
        top: 55%;
    }
}
@media screen and (max-height: 400px) {
    #wave {
        height: 40vh;
    }
    .banner {
        top: 38%;
    }
    .centerCanvas {
        top: 65%;
    }
}
@media screen and (max-height: 300px) {
    .footerBanner {
        display: none;
    }
    #wave {
        display: none;
    }
    .banner {
        top: 50%;
    }
    .centerCanvas {
        top: 85%;
    }
}