<div>
  <app-headbar *ngIf="showHeader"></app-headbar>
  <div [ngClass]="{'cart-container':true, 'no-header':!showHeader}">
    <h1>購物車</h1>
    <div class="table-container">
      <app-order-display [orderInfo]="orderInfo" [isCart]="true"></app-order-display>
    </div>
    <div class="bottom-container">
      <p id="totalPrice">總金額：<span class="price-info">{{ orderInfo.getFinalPrice() }}<img src="https://trello-attachments.s3.amazonaws.com/5cb05d866d23f90e64ba596b/708x429/d803b43167e2487ec82337a88c9bf160/image.png" class="price-info-img"></span><span> (餐點價格：{{ this.orderInfo.getTotalCost() }})</span></p>
      <button id="btnReset" (click)="clearCart()">清空購物車</button>
      <button id="btnSubmit" (click)="checkOut()">結帳</button>
    </div>
  </div>
  <agm-map (mapReady)="mapReady($event)"></agm-map>
</div>