agm-map {
    display: none;
}

.cart-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: brown 3px solid;
    border-radius: 10px;
    height: 75%;
    width: 700px;
    background-color: cyan;
}
.no-header {
    top: 50%;
}

.cart-container h1 {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 5px;
}

.table-container {
    margin-left: 80px;
    margin-right: 80px;
    max-height: 60%;
    overflow: auto;
}

.bottom-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

#btnSubmit, #btnReset {
    margin-top: 15px;
    margin-right: 25px;
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
    border: maroon 2px solid;
    border-radius: 4px;
    cursor: pointer;
}
#btnSubmit:focus, #btnReset:focus {
    outline: none;
}

#btnSubmit {
    background-color: greenyellow;
    font-weight: bold;
}
#btnReset {
    background-color: red;
    color: white;
}

#btnSubmit:hover {
    background-color: yellow;
    color: brown;
    font-weight: bolder;
}
#btnReset:hover {
    background-color: white;
    color: red;
    font-weight: bold;
}

#totalPrice {
    font-size: 20px;
    font-weight: bold;
}
#totalPrice span {
    font-weight: normal;
    color: red;
}

.price-info {
    cursor: help;
}
.price-info:hover>.price-info-img {
    display: block;
}
.price-info-img {
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    height: 450%;
    top: -110%;
    left: 50%;
    transform: translate(-50%, -80%);
}

@media screen and (max-width: 750px) {
    .cart-container {
        width: 100%;
        border: none;
        border-radius: 0;
        border-top: brown 3px solid;
        border-bottom: brown 3px solid;
    }
    .table-container {
        margin: 0;
        width: 100%;
    }
}
@media screen and (max-height: 650px) {
    .table-container {
        max-height: 55%;
    }
}