<div class="orderCard" id="orderCard-{{orderInfo.orderId}}">
  <button *ngIf="orderInfo.isGoingOrPendingMe()" class="finishOrder" (click)="finishOrder()">完成訂單</button>
  <h3>序號：{{orderInfo.orderId}}</h3>
  <h3>外送地址：{{orderInfo.location}}</h3>
  <h3>地址：{{orderInfo.location}}</h3>
  <h3>總價：${{orderInfo.getFinalPrice()}} (餐點：${{orderInfo.getTotalCost()}} | 利潤：${{orderInfo.getFinalPrice() - orderInfo.getTotalCost()}})</h3>
  <h3>總距離：{{distance ? distance : ''}}</h3>
  <h3>預計外送時間：{{duration ? duration : ''}}</h3>
  <h3>使用者：{{orderInfo && orderInfo.customerObj ? orderInfo.customerObj.userName : ''}} (電話：{{orderInfo && orderInfo.customerObj ? orderInfo.customerObj.phoneNumber : ''}})</h3>
  <h3>店家：</h3>
  <p *ngFor="let store of orderInfo.getKeys()"><b>{{store.storeName}}：</b>{{store.location}}</p>
  <div>
    <table>
      <thead>
        <tr>
          <th>店家</th>
          <th>商品</th>
          <th>數量</th>
        </tr>
      </thead>
      <tbody *ngFor="let store of orderInfo.getKeys()">
          <tr *ngFor="let item of orderInfo.getValByKey(store)">
            <td>{{store.storeName}}</td>
            <td>{{item.menuItem.productName}}</td>
            <td>{{item.count}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>