<div id="{{-index}}">
  <div class="pusher" *ngIf="showInfo"></div>
  <div [ngClass]="{'container':true, 'container-showInfo':showInfo}">
    <img src="{{store ? store.picture : ''}}" id="storeImg">
    <div class="store-info-display">
      <div class="text-container">
        <h1 id="{{index}}" class="res-name">{{ store ? store.storeName : '' }}</h1>
        <div class="store-info">
          <p class="info-item">{{ store ? store.location : '' }}</p>
          <p class="info-item">{{ store ? store.phone : '' }}</p>
          <p class="info-item">{{ store ? store.email : '' }}</p>
          <a href="{{ aUrl }}">
            <button [ngClass]="{'btn-info': true, 'btn-info-selected':showInfo}" (click)="toggleShow()">詳細資料&nbsp;&gt;</button>
          </a>
        </div>
      </div>
      <div class="menu-info-canvas" *ngIf="showInfo">
        <button class="btnAddToList" (click)="addToOrder()">選擇</button>
        <select size="10" id="menubox" multiple>
          <ng-container *ngFor="let item of displayList">
            <option *ngFor="let o of item | keyvalue" value="{{getSelectedStr() + o.key + '-' + o.value}}" (click)="setMenuDisplay(o.key, o.value)">{{o.key}}：{{o.value !== '' ? '$' + o.value : o.key === '..' ? '上一層' : '種類'}}</option>
          </ng-container>
        </select>
        <div class="showSelected">{{getSelectedStr()}}</div>
        <div class="curOrderTableContainer">
          <table *ngIf="curOrders.length > 0">
            <thead>
              <tr>
                <th class="col-name">品名</th>
                <th class="col-count">數量</th>
                <th class="col-price">總價</th>
                <th class="col-delete">刪除</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of curOrders">
                <td>{{item.getName()}}</td>
                <td>
                  <span class="minusBtnBack" (click)="item.minusCount()"><button class="minusBtn">-</button></span>
                  {{ item.count }}
                  <span class="addBtnBack" (click)="item.addCount()"><button class="addBtn">+</button></span>
                </td>
                <td>{{item.getTotalPrice()}}</td>
                <td><button class="deleteBtn" (click)="removeItem(item)">刪除</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="right-canvas">
          <div><span class="priceTitle">總價：</span><span class="priceTag">${{ getCurTotal() }}</span></div>
          <button class="btnRemoveAll" (click)="removeAll()">清空全部</button>
          <button class="btnAddToCart" (click)="addToCart()">加入購物車</button>
        </div>
      </div>
    </div>
  </div>
</div>