.container {
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 4vw;
}

a {
    text-decoration: none;
}

.container-showInfo {
    height: 660px !important;
    border: maroon 2px dashed;
    margin-left: 4vw;
    margin-top: 18px;
}

.pusher {
    width: 98vw;
}

#storeImg {
    width: 300px;
    height: 300px;
    z-index: 1;
}

.store-info-display {
    width: 300px;
    height: 300px;
    position: absolute;
    background-image: linear-gradient(rgb(242, 230, 217, 0) 30%, rgb(242, 230, 217, 1) 60%);
    z-index: 2;
    float: left;
}

.text-container {
    position: relative;
    top: 40%;
}

.res-name {
    text-align: center;
    letter-spacing: 2px;
}

.store-info {
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
    max-width: 250px;
    color: brown;
}

.btn-info {
    border: orangered 2px solid;
    background-color: rgb(248, 242, 236);
    margin-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}
.btn-info:focus {
    outline: none;
}

.btn-info-selected {
    background-color: olive;
    color: aliceblue;
}

.menu-info-canvas {
    display: flex;
    border: maroon 2px dashed;
    position: relative;
    width: 1000px;
    height: 400px;
    
    top: 140px;
    left: -2px;

    margin-right: 4vw;
    background-color: rgb(242, 230, 217);
}

#menubox {
    position: absolute;
    left: 20px;
    top: 60px;
    width: 200px;
    height: 300px;
    overflow: auto;
    text-align: center;
}
#menubox:focus {
    outline: none;
}
.showSelected {
    height: 20px;
    position: absolute;
    left: 20px;
    top: 360px;
}

.btnAddToList {
    position: absolute;
    left: 70px;
    top: 20px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding-bottom: 5px;
    border: darkslategray 2px solid;
    border-radius: 5px;
    background-color: antiquewhite;
    margin-bottom: 5px;
    cursor: pointer;
}
.btnAddToList:focus {
    outline: none;
}
.btnAddToList:hover {
    background-color: lavender;
    color: maroon;
}

.curOrderTableContainer {
    position: absolute;
    left: 280px;
    top: 30px;
    max-height: 350px;
    overflow: auto;
}

table, th, td {
    border-collapse: collapse;
    border: maroon 2px solid;
    table-layout: fixed;
    overflow: auto;
    text-align: center;
}
th {
    background-color: wheat;
}
th, td {
    height: 35px;
}
.col-name {
    width: 160px;
}
.col-count {
    width: 120px;
}
.col-price {
    width: 60px;
}
.col-delete {
    width: 60px;
}

.deleteBtn {
    font-size: 14px;
    background-color: lightblue;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
}
.deleteBtn:hover {
    background-color: red;
    color: lemonchiffon;
}
.deleteBtn:focus, .minusBtn:focus, .addBtn:focus {
    outline: none;
}

.minusBtn, .addBtn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.minusBtnBack {
    float: left;
    margin-left: 8px;
    background-color: red;
}
.addBtnBack {
    background-color: blue;
    float: right;
    margin-right: 8px;
}
.addBtnBack, .minusBtnBack {
    border: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3px;
}

.right-canvas {
    position: absolute;
    left: 750px;
    width: 220px;
    bottom: 20px;
    height: 70px;
    text-align: right;
}

.priceTitle, .priceTag {
    font-size: 22px;
}
.priceTitle {
    font-weight: bold;
}
.priceTag {
    color: red;
}

.btnRemoveAll:hover {
    color: snow;
    background-color: orangered;
}
.btnAddToCart:hover {
    color: maroon;
    background-color: limegreen;
}

.btnRemoveAll, .btnAddToCart {
    border: brown 2px solid;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    cursor: pointer;
}
.btnRemoveAll:focus, .btnAddToCart:focus {
    outline: none;
}