@media screen and (max-width: 1160px) {
    .menu-info-canvas {
        width: 85vw;
    }
    .right-canvas {
        left: calc(85vw - 250px);
    }
    .curOrderTableContainer {
        margin-right: 25px;
        max-height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .menu-info-canvas {
        width: 300px;
        max-width: 300px;
        height: 450px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .container-showInfo {
        height: 730px !important;
    }
    #menubox {
        width: 260px;
        height: 100px;
    }
    .showSelected {
        top: 157px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .curOrderTableContainer {
        position: relative;
        max-width: 290px;
        max-height: 155px;
        display: flex;
        left: 12px;
        top: 180px;
    }
    .right-canvas {
        position: relative;
        left: -12px;
        margin-top: 230px;
        width: 100%;
    }
    .btnAddToList {
        left: 102px;
    }
}

@media screen and (max-width: 340px) {
    .container {
        margin-left: 1.5vw;
    }
}