.container {
    width: calc(100% - 10px);
    height: auto;
    background-color: coral;
    min-height: 200px;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
    margin: 5px;
}

.tableContainer {
    padding-top: 15px;
}
.itemTable {
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    color: white;
}
.itemTable, .itemTable th, .itemTable td {
    border-collapse: collapse;
    table-layout: fixed;
    border: maroon 3px solid;
}
.itemTable th {
    font-size: 20px;
    background-color: darkcyan;
    color: cyan;
    min-width: 100px;
}
.itemTable td {
    max-width: 100px;
    overflow: auto;
    background-color: lightcoral;
}

.typeName {
    font-size: 26px;
    font-weight: bold;
    margin-right: 5px;
    position: relative;
    top: 3px;
    color: aliceblue;
}
.userType {
    font-size: 22px;
    cursor: help;
}

.inputText {
    border-radius: 2px;
    border: darkslategray 1px solid;
    width: 120px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 5px;
}
.inputText:focus {
    outline: none;
}

.typeSelect {
    background-color: lightblue;
    margin-right: 1px;
    margin-left: 1px;
    height: 22px;
    position: relative;
    top: 1px;
}
.typeSelect:focus {
    outline: none;
}

#addBtn {
    margin-right: 1px;
    margin-left: 1px;
    width: 22px;
    height: 22px;
    background-color: darkcyan;
    color: white;
    border: darkslategray 2px solid;
    border-radius: 2px;
    position: relative;
    top: 13.5px;
    font-size: 24px;
    cursor: pointer;
}
#addBtn:focus {
    outline: none;
}
#addBtn:hover {
    background-color: greenyellow;
    color: brown;
}
.btnText {
    position: relative;
    top: -9.5px;
    height: 25px;
}

.cardContainer {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.itemDisplay {
    color: aqua;
}

.col-price {
    cursor: pointer;
}
.col-price-editing {
    color: black;
    background-color: aliceblue !important;
    cursor: text;
}

.btnDelete {
    border: none;
    background-color: lightgoldenrodyellow;
    border-radius: 6px;
    color: darkred;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 2px;
    margin-bottom: 4px;
    cursor: pointer;
}
.btnDelete:hover {
    background-color: darkred;
    color: yellow;
}
.btnDelete:focus {
    outline: none;
}

@media screen and (max-width: 360px) {
    .header {
        display: grid;
        grid-template-areas: "name name name name"
                             ". inputTxt select btn";
        grid-template-columns: 0.2fr 140px 0.5fr 0.3fr;
        grid-gap: 2px;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        position: relative;
    }
    .typeName {
        grid-area: name;
    }
    .inputText {
        grid-area: inputTxt;
    }
    .typeSelect {
        grid-area: select;
    }
    #addBtn {
        grid-area: btn;
        top: 1px;
    }
    .btnText {
        top: -10px;
    }
    .itemTable th, .itemTable td {
        max-width: 80px;
        min-width: 60px;
        width: 80px;
    }
}