<div class="container" id="container-{{ getEncodeTypeName() }}">
  <div class="header">
    <span *ngIf="typeName === DefaultTypeName; else userType" class="typeName">{{ typeName }}</span>
    <ng-template #userType>
      <span class="typeName userType" title="右鍵刪除這個類別" (contextmenu)="onTitleRightClick($event)">{{ typeName }}</span>
    </ng-template>
    <input id="inputText-{{ typeName }}" type="text" spellcheck="false" class="inputText">
    <select id="typeSelect-{{ typeName }}" class="typeSelect">
      <option value="item">餐點</option>
      <option value="type">種類</option>
    </select>
    <button id="addBtn" (click)="add()"><span class="btnText">+</span></button>
  </div>
  <div class="tableContainer">
    <table *ngIf="items.size > 0" class="itemTable">
      <thead>
        <tr>
          <th>品名</th>
          <th>價錢</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items | keyvalue">
        <tr>
          <td>{{ item.key }}</td>
          <td class="col-price" title="點擊修改價錢" id="{{typeName}}-{{item.key}}" (click)="editCell(item.key)" (keydown)="editingCell($event, item.key)">${{ item.value }}</td>
          <td><button class="btnDelete" (click)="deleteItem(item.key)">刪除</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cardContainer"><app-type-card *ngFor="let card of typeList" [itemObj]="getObjByKey(card)" [typeName]="card" (onTypeDelete)="deleteType($event)" (onChangeEvent)="triggerSave()"></app-type-card></div>
</div>