#contactValue {
    width: 145px;
    padding-top: 2px;
}

#btnAdd {
    border: 0;
    background-color: slategray;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    color: lightcyan;
    cursor: pointer;
    top: 5px;
    padding-right: 1px;
    padding-top: 1px;
    margin-top: 5px;
    margin-right: 10px;
}
#btnAdd:focus {
    outline: none;
}
#btnAdd b {
    margin-left: 1px;
    bottom: 1px;
    position: relative;
}

#selectMenu {
    background: skyblue;
    height: 25px;
    padding-top: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
#selectMenu:focus {
    outline: none;
}