<div>
  <div *ngIf="editable">
    <button id="btnAdd" (click)="addContact()" title="新增"><b>+</b></button>
    <select id="selectMenu">
      <option value="Line">Line</option>
      <option value="Facebook">Facebook</option>
      <option value="Telegram">Telegram</option>
      <option value="Instagram">Instagram</option>
      <option value="Plurk">Plurk</option>
      <option value="Twitter">Twitter</option>
    </select>
    <input type="text" id="contactValue">
  </div>
  <app-display-table (deleteEvent)="deleteContactEvent($event)" [contactDict]="contactDict"></app-display-table>
</div>