.cart {
    font-size: 72px;
    color: skyblue;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    display: block;
    right: 15px;
    bottom: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 60px auto;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80vh;
    border-radius: 10px;
}
  
/* The Close Button */
.close {
    position: absolute;
    display: block;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: 8%;
    top: 18px;
}
.closeBack {
    position: absolute;
    display: block;
    background-color: rgb(255, 75, 75);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    right: 7.9%;
    top: 25px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden auto;
    border-radius: 10px;
}

.hide {
    display: none;
}

@media screen and (max-width: 500px) {
    .modal-content {
        width: 100%;
        border: none;
    }
    .close {
        right: 0.5%;
    }
    .closeBack {
        right: 0.4%;
    }
}