<div>
  <i id="cartIcon" class="fas fa-shopping-cart cart" (click)="btnClick()" (mouseenter)="update()"></i>
  
  <div id="cartModal" class="modal">
      <div class="modal-content">
        <span class="closeBack"></span>
        <span class="close">&times;</span>
        <div class="frame" [ngClass]="{'hide':!hasLogin}" id="cart">
          <app-cart [showHeader]="false"></app-cart>
        </div>
        <div class="frame" style="z-index: 100;" *ngIf="!hasLogin">
          <app-login [showHeader]="false"></app-login>
        </div>
      </div>
    </div>
</div>