<div>
  <app-headbar></app-headbar>
  <div class="container">
    <div class="leftContainer">
      <div class="orderContainer" *ngIf="!isOrderGoing">
        <app-order-card *ngFor="let info of orderList" [orderInfo]="info"
         (showInfoEvent)="showInfoEvent($event)" (orderEvent)="orderEvent($event)"></app-order-card>
      </div>
      <div class="orderContainer" *ngIf="isOrderGoing">
        <app-order-going [distInfo]="onGoingOrderDistInfo" [orderInfo]="onGoingOrder"></app-order-going>
      </div>
    </div>
    <div class="rightContainer">
      <agm-map 
        [latitude]='lat' 
        [longitude]='lng'
        [zoom]="zoom"
        (mapReady)="mapReady($event)"
      >
        <agm-marker
          [latitude]='lat'
          [longitude]='lng'
          [title]="'現在位置'"
          [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
          [markerDraggable]="true"
          (dragEnd)="markerDragEnd($event)"
        ></agm-marker>
        <ng-container *ngIf="!isOrderGoing">
          <agm-marker *ngFor="let order of orderList"
            [latitude]='order.position.lat'
            [longitude]='order.position.lng'
            [openInfoWindow]='true'
            [title]="order.orderId"
            (markerClick)='markerClick($event)'
          >
            <agm-info-window>
              <h2>利潤：${{order.getFinalPrice() - order.getTotalCost()}}</h2>
              <h2>使用者-餐廳距離：{{order.distance}} 公里</h2>
              <h3>總價：${{order.getFinalPrice()}} | 餐點：${{order.getTotalCost()}}</h3>
              <hr>
              <h3>序號：{{order.orderId}}</h3>
              <b>店家：</b>
              <span *ngFor="let store of order.getKeys()">[{{store.storeName}}] </span>
            </agm-info-window>
          </agm-marker>
        </ng-container>
        
        <agm-marker
          [latitude]='onGoingOrder.position.lat'
          [longitude]='onGoingOrder.position.lng'
          [openInfoWindow]='true'
          [title]="'食客位置'"
          [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/green-dot.png'"
          *ngIf="isOrderGoing"
        >
          <agm-info-window>
            <h2>食客位置：</h2>
            <hr>
            <h3>地址：</h3>
            <h3>{{onGoingOrder.location}}</h3>
          </agm-info-window>
        </agm-marker>
        <ng-container *ngIf="isOrderGoing">
          <agm-marker *ngFor="let store of onGoingOrder.getKeys()"
            [latitude]='store.position.lat'
            [longitude]='store.position.lng'
            [openInfoWindow]='true'
            [title]="'餐廳：' + store.storeName"
          >
            <agm-info-window>
              <h2>{{store.storeName}}</h2>
              <hr>
              <h3>地址：</h3>
              <h3>{{store.location}}</h3>
            </agm-info-window>
          </agm-marker>
        </ng-container>
      </agm-map>
    </div>
  </div>
</div>