.container {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: calc(100vh - 60px);
    grid-gap: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.leftContainer {
    width: 100%;
    height: 100%;
}
.rightContainer {
    grid-area: right;
    width: 100%;
    height: 100%;
}
agm-map {
    height: 100%;
}

.orderContainer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border: darkslategray 5px dashed;
    border-radius: 5px;
    overflow: auto;
}

@media screen and (max-width: 850px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "right";
    }

    .leftContainer {
        position: absolute;
        float: left;
        z-index: 2;
        width: 80vw;
        background-color: snow;
        border-right: 18px darkblue solid;
        left: -80vw;
        transition: 500ms;
        height: calc(100vh - 60px);
    }
    .leftContainer:hover {
        left: 0;
        transition: 500ms;
    }
}