.deleteBtn {
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: darkblue 2px solid;
    background-color: red;
    color: greenyellow;
    border-radius: 4px;
    cursor: pointer;
}
.deleteBtn:hover {
    color: darkred;
    background-color: orange;
}
.deleteBtn:focus {
    outline: none;
}

.store-info-table input[type=text] {
    width: 200px;
}

.blankTitle {
    position: absolute;
    letter-spacing: 2px;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#storeImgUpload {
    display: none;
}

.storeLabel {
    color: darkblue;
    cursor: pointer;
}
.storeSelected {
    font-weight: bold !important;
    color: maroon !important;
    cursor: not-allowed !important;
}

.storeImg {
    position: absolute;
    z-index: 0;
    float: left;
    height: 300px;
    width: 300px;
}

app-map {
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
}

.left-panel {
    position: absolute;
    top: 60px;
    padding: 20px;
    height: calc(100vh - 100px);
    width: 200px;
    background-color: lightblue;
}

#storeInput {
    width: 115px;
    border: darkblue 2px solid;
    padding-left: 2px;
    padding-right: 2px;
}
#storeInput:focus {
    outline: none;
}

.btnAdd {
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: darkblue 2px solid;
    background-color: lightgray;
    cursor: pointer;
}

.store-table a {
    text-decoration: none;
}
.store-table a:visited {
    color: blue;
}

.editIcon {
    margin-left: 25px;
    margin-top: 4px;
    cursor: pointer;
}

.center-canvas {
    position: absolute;
    top: 60px;
    left: 240px;
    height: calc(100vh - 120px);
    width: calc(100vw - 320px);
    background-color: lavender;
    padding: 20px;
    padding-left: 60px;
    padding-top: 40px;
    overflow: auto;
    display: grid;
    grid-column-gap: 0.2em;
    grid-template-rows: 0.25fr 0.35fr 0.4fr;
    grid-template-areas: "info . img" "menu menu .";
}

.store-info-table {
    grid-area: info;
    font-size: 20px;
}

.store-info-table td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.info-table-title {
    font-weight: bold;
}

#storePicture {
    border: brown 3px solid;
    width: 300px;
    height: 300px;
    grid-area: img;
    overflow: hidden;
}

.storeImgEditBtn {
    position: relative;
    top: 260px;
    right: 8px;
    width: 82px;
    float: right;
    background-color: lightgray;
    border-radius: 8px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: .45;
    cursor: pointer;
}
.storeImgEditBtn:hover {
    opacity: 1;   
}

.menu-editor {
    grid-area: menu;
    position: relative;
    width: 600px;
    height: 50vh;
    overflow: hidden auto;
    margin-bottom: 20px;
}