@media screen and (max-width: 1380px) {
    .center-canvas {
        grid-template-rows: 0.4fr 0.6fr;
        grid-template-areas: "info img" "menu menu";
    }
}
@media screen and (max-width: 1170px) {
    .left-panel {
        padding: 0;
        padding-top: 20px;
        padding-left: 10px;
        width: 150px;
        height: calc(100vh - 80px);
    }
    .center-canvas {
        padding-top: 10px;
        left: 160px;
        padding-left: 20px;
        width: calc(100vw - 200px);
        height: calc(100vh - 90px);
        justify-content: center;
        grid-row-gap: 30px;
        grid-template-rows: auto;
        grid-template-areas: "info" "img" "menu";
    }
    #storePicture {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
@media screen and (max-width: 800px) {
    .left-panel {
        left: -160px;
        float: left;
        z-index: 5;
        border-right: darkslateblue 15px solid;
        transition: 200ms;
    }
    .left-panel:hover {
        transition: 200ms;
        left: 0px;
    }
    .center-canvas {
        left: 15px;
        padding: 0;
        width: calc(100vw - 15px);
        height: calc(100vh - 60px);
    }
}
@media screen and (max-width: 630px) {
    .info-table-title {
        padding-right: 30px;
        overflow: hidden !important;
    }
    .store-info-table td {
        overflow: auto;
    }
    #storePicture {
        width: 255px;
        height: 255px;
    }
    .storeImgEditBtn {
        top: 220px;
    }
    .storeImg {
        width: 255px;
        height: 255px;
    }
    .menu-editor {
        width: 90vw;
    }
}
@media screen and (max-width: 430px) {
    .store-info-table input[type=text] {
        width: auto;
    }
    .store-info-table td {
        max-width: 120px;
    }
}