<div id='container'>
  <app-headbar></app-headbar>
  <div class="left-panel">
    <input type="text" id="storeInput" spellcheck="false">
    <button class="btnAdd" (click)="addStore()">新增分店</button>
    <p><b>現在頁面：{{ getCurrentName() }}</b></p>
    <table class="store-table">
      <tbody>
        <tr *ngFor="let store of stores">
          <td [ngClass]="{'storeSelected': isSelected(store.work_uid), 'storeLabel': true}" title="{{store.storeName}}" (click)="switchStore(store.work_uid)">{{ store.storeName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="center-canvas" *ngIf="!blankUser">
    <table class="store-info-table">
      <tr>
        <td class="info-table-title">店名：</td>
        <td *ngIf="!nameEdit">{{ storeInfo.storeName }}</td>
        <td *ngIf="nameEdit"><input type="text" id="nameInput" title="店名" placeholder="店名..." value="{{storeInfo.storeName}}" spellcheck="false"></td>
        <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleNameEdit()"></i></td>
      </tr>
      <tr>
        <td class="info-table-title">電話：</td>
        <td *ngIf="!phoneEdit">{{ storeInfo.phone }}</td>
        <td *ngIf="phoneEdit"><input type="text" id="phoneInput" title="電話" placeholder="電話..." value="{{storeInfo.phone}}" spellcheck="false"></td>
        <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="togglePhoneEdit()"></i></td>
      </tr>
      <tr>
        <td class="info-table-title">地址：</td>
        <td *ngIf="!addressEdit">{{ storeInfo.location }}</td>
        <td *ngIf="addressEdit"><app-map (submitEvent)="setAddress($event)"></app-map></td>
        <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleAddressEdit()"></i></td>
      </tr>
      <tr>
        <td class="info-table-title">負責人：</td>
        <td *ngIf="!principalEdit">{{ storeInfo.principal }}</td>
        <td *ngIf="principalEdit"><input type="text" id="principalInput" title="負責人" placeholder="負責人..." value="{{storeInfo.principal}}" spellcheck="false"></td>
        <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="togglePrincipalEdit()"></i></td>
      </tr>
      <tr>
        <td class="info-table-title">信箱：</td>
        <td *ngIf="!emailEdit">{{ storeInfo.email }}</td>
        <td *ngIf="emailEdit"><input type="text" id="emailInput" title="信箱" placeholder="信箱..." value="{{storeInfo.email}}" spellcheck="false"></td>
        <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleEmailEdit()"></i></td>
      </tr>
      <tr>
        <td colspan="3">
          <button class="deleteBtn" (click)="deleteRestaurant()">刪除此餐廳</button>
        </td>
      </tr>
    </table>
    <div id="storePicture">
      <img src="{{storeInfo.picture}}" class="storeImg">
      <label for="storeImgUpload">
        <input type="file" id="storeImgUpload" (change)="uploadImg()">
        <div class="storeImgEditBtn">
          <span>更換照片</span>
          <i *ngIf="editable" class="far fa-edit"></i>
        </div>
      </label>
    </div>
    <div class="menu-editor"><app-type-card (onChangeEvent)="saveMenu($event)"></app-type-card></div>
  </div>
  <div *ngIf="blankUser">
    <h1 class="blankTitle">請加入新餐廳以顯示詳細內容</h1>
  </div>
</div>