<table [@showHide]="show">
    <tr>
      <td><label>*負責人：</label></td>
      <td><input name='name' type="text"></td>
    </tr>
    <tr>
      <td><label>*電話：</label></td>
      <td><input name='phone' type="text"></td>
    </tr>
    <tr>
      <td><label>*地址：</label></td>
      <td><input name='location' type="text"></td>
    </tr>
    <tr>
      <td><label>*密碼：</label></td>
      <td><input name='pass' type="password"></td>
    </tr>
    <tr>
      <td><label>*確認密碼：</label></td>
      <td><input name='passCheck' type="password"></td>
    </tr>
    <tr>
      <td><label>*信箱：</label></td>
      <td><input name='email' type="text"></td>
    </tr>
  </table>