.loading-back {
    position: absolute;
    float: left;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-color: darkslategray;
}

.loading {
    z-index: -1;
    position: absolute;
    font-size: 42px;
    top: 48%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}