.top-container {
    position: absolute;
    top: 70px;
    height: 100px;
}

.location-container, .search-container {
    margin-left: 4vw;
}

.search-container {
    position: relative;
    top: 15px;
}

.location-container {
    position: relative;
    top: 35px;
}

#searchInput, #locationInput {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px;
    border: darkgray 2px solid;
    font-size: 16px;
    width: 250px;
}
#searchInput:focus, #locationInput:focus {
    outline: none;
}

.searchIcon {
    position: relative;
    font-size: 24px;
    color: steelblue;
    margin-left: 10px;
    top: 3px;
    cursor: pointer;
}

.locationIcon {
    margin-left: 12px;
    color: red;
}
.restaurantIcon {
    margin-left: 16px;
    color: orange;
}

.location-container i {
    position: relative;
    font-size: 26px;
    top: 3px;
    cursor: pointer;
}

#store-canvas {
    position: absolute;
    overflow: hidden auto;
    top: 200px;
    width: 100vw;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(236, 230, 223);
}

.cart-icon {
    float: right;
    position: absolute;
    right: 30px;
    bottom: 30px;
    z-index: 3;
}

.hide {
    display: none !important;
}

.mapContainer {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .cart-icon {
        right: 5px;
        bottom: 5px;
    }
}
@media screen and (max-width: 400px) {
    #searchInput, #locationInput {
        width: 60%;
    }
}