<div>
  <app-headbar></app-headbar>
  <div class="top-container">
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="店名、餐點名..." (keyup)="keyupEvent($event)" spellcheck="false" value="{{searchWord}}">
      <i class="fas fa-search searchIcon" title="搜尋" (click)="search()"></i>
    </div>
    <div class="location-container">
      <input type="text" id="locationInput" placeholder="按右邊按鈕獲取地址..." spellcheck="false" disabled>
      <i class="fas fa-map-marker-alt locationIcon" title="選地址" (click)="chooseAddress()"></i>
      <i class="fas fa-utensils restaurantIcon" title="附近餐廳" (click)="searchNearby()"></i>
    </div>
  </div>
  <div [ngClass]="{'mapContainer': true, 'hide': !isChoosePosition}">
    <app-map (submitEvent)="finishChoosing($event)"></app-map>
  </div>
  <div id="store-canvas" [ngClass]="{'hide': isChoosePosition}">
    <app-store-card *ngFor="let store of storeInfos" [store]="store" [index]="storeInfos.indexOf(store) + 1" [searchWord]="searchWord" (preShow)="hideEveryone($event)"></app-store-card>
  </div>
  <div class="cart-icon" [ngClass]="{'hide': isChoosePosition}">
    <app-float-cart></app-float-cart>
  </div>
</div>