<div class="table-container">
  <div class="tableDiv">
    <table class="verify-table">
        <tr *ngFor="let item of displayObject | keyvalue">
          <td class="col-name">{{ item.key }}：</td><td>{{ item.value }}</td>
        </tr>
        <tr *ngIf="contactObject !== undefined">
          <td colspan="2"><b>聯絡資訊：</b></td>
        </tr>
        <tr *ngIf="contactObject !== undefined">
          <td colspan="2"><app-display-table [contactDict]="contactObject"></app-display-table></td>
        </tr>
    </table>
  </div>
  <div class="bottom-container">
    <p align="center">已寄出驗證信，請到信箱查收</p>
    <p class="verifyTitle"><b>輸入驗證碼</b></p>
    <input type="text" id="verifyText" placeholder="• • • • • •" spellcheck="false">
    <br/>
    <button id="submitVerify" (click)="submit()">送出</button>
  </div>
</div>