.table-container {
    position: absolute;
    background-color: aqua;
    width: 500px;
    height: 75vh;
    overflow: auto;
    border-radius: 15px;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 18px;
}

.tableDiv {
    max-height: 100px;
    overflow: auto;
}

.verify-table {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.verify-table td {
    padding-right: 10px;
    padding-left: 10px
}

.col-name {
    font-weight: bold;
}

.bottom-container {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

#verifyText {
    border: none;
    font-size: 18px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
#verifyText:focus {
    outline: none;
}
#veriftText::placeholder {
    color: lightgray;
}

#submitVerify {
    font-size: 16px;
    font-weight: bold;
    background: lightblue;
    border: solid 2px maroon;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    cursor: pointer;
}
#submitVerify:focus {
    outline: none;
}

@media screen and (max-width: 1400px) {
    .table-container {
        top: 12vh;
        width: 80vw;
        height: 75vh;
    }
}

@media screen and (max-width: 500px) {
    .table-container {
        top: 60px;
        width: 100vw;
        height: calc(100vh - 60px);
        border-radius: 0;
    }
}