<div>
  <app-headbar [showLogin]='false' *ngIf="showHeader"></app-headbar>
  <div [ngClass]="{'background':true, 'background-no-header':!showHeader}">
    <div [ngClass]="{'form':true, 'no-header':!showHeader}">
      <h1>登入</h1>
      <div class="input-container">
        <table>
          <tr>
            <td class="title-txt">信箱：</td>
            <td class="input-td"><input type="text" id="email" spellcheck="false"></td>
          </tr>
          <tr>
            <td class="title-txt">密碼：</td>
            <td class="input-td"><input type="password" id="pass" spellcheck="false"></td>
          </tr>
        </table>
      </div>
      <div class="btn-container">
        <button id="submit" onclick="window.open('register', '_self')">註冊</button>
        <button id="submit" (click)="login()">登入</button>
      </div>
    </div>
  </div>
</div>