.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    z-index: -1;
}

.no-header {
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.background-no-header {
    width: 100% !important;
    height: 100% !important;
}

.form h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
    letter-spacing: 10px;
}
.form {
    top: 25vh;
    left: 50%;
    height: 330px;
    width: 350px;
    position: absolute;
    transform: translate(-50%, 0);
    background-color: lightgray;
    border: lightcoral 2px solid;
    border-radius: 10px;
    padding: 20px;
}

.input-container table {
    position: absolute;
    left: 55%;
    transform: translate(-50%, 0);
    width: 420px;
    margin-top: 10px;
}
.input-container input {
    font-size: 16px;
    padding-bottom: 3px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border: brown 2px solid;
    border-radius: 15px;
    background-color: lightslategray;
    color: cyan;
    letter-spacing: 1px;
    max-width: 250px;
}
.input-container td {
    padding-top: 30px;
}

.btn-container {
    top: 290px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    text-align: center;
}

button {
    margin-left: 18px;
    margin-right: 18px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border: darkslategray 2px solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.title-txt {
    font-size: 20px;
    font-weight: bold;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}

@media screen and (max-width: 700px) {
    .input-container table {
        max-width: 80vw;
    }
}
@media screen and (max-width: 500px) {
    .input-container table {
        width: 95vw;
    }
    .input-td {
        width: 80%;
    }
    .form {
        width: calc(100vw - 50px);
    }
    .btn-container {
        width: 100%;
    }
    .input-container input {
        width: 70%;
    }
}