.nofound-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btnReturn {
    margin-top: 15px;
    border: darkslategray 2px solid;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}

.btnReturn:focus {
    outline: none;
}

.text-container {
    position: relative;
    width: 500px;
    left: 50%;
    transform: translate(-50%, 0);
}

.titleText {
    font-weight: bold;
}

.fa-check-circle {
    color: green;
}
.fa-arrow-circle-right {
    color: blue;
}
.fa-times-circle {
    color: red;
}

.founded-reutrn {
    position: relative;
    float: right;
    top: 15px;
    right: 65px;
    margin-bottom: 10px;
}

.founded {
    padding-left: 20px;
}

.ratingInTable {
    bottom: 28px !important;
    left: 100px !important;
}
.rating {
    position: relative;
    bottom: 27px;
    left: 85px;
}

.topText {
    margin-left: 45px;
}

.btnDeleteInTable {
    background-color: snow !important;
    color: red !important;
    font-weight: bold;
}
.btnFinishInTable, .btnFinish, .btnDeleteInTable {
    border: darkgreen 2px solid;
    background-color: lemonchiffon;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.btnFinishInTable:focus, .btnDeleteInTable:focus, .btnFinish:focus { 
    outline: none;
}
.btnDeleteInTable:hover {
    background-color: darkred !important;
    color: yellow !important;
}
.btnFinishInTable:hover, .btnFinish:hover {
    background: brown;
    color: snow;
}

.btnFinishInTable {
    margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
    .founded {
        padding: 0;
    }
    .founded-reutrn {
        position: relative;
        left: 45%;
        right: 0;
        float: none;
        transform: translate(-50%, 0);
    }
    .btnReturn {
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 520px) {
    .text-container {
        width: calc(100% - 15px);
        left: 15px;
        transform: none;
    }
    .nofound-container {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .topText {
        margin-left: 5%;
        overflow: auto;
    }
}