<div>
    <div *ngIf="order !== undefined && inTable">
        <div class="topText">
            <p *ngIf="order.isGoingOrPendingMe()">
                <span class="titleText">評價 {{isDelivery ? '食客' : '外送員'}}：</span>
                <span [ngClass]="{'rating': true, 'ratingInTable': inTable}"><app-rating-stars [orderInfo]="order"></app-rating-stars></span>
            </p>
            <p *ngIf="order.isWaiting() && isUser()"><button class="btnDeleteInTable" (click)="deleteOrder()">刪除訂單</button></p>
            <p *ngIf="order.isGoingOrPendingMe()"><button class="btnFinishInTable" (click)="finishOrder()">完成訂單</button></p>
            <span id="info-in-table"></span>
        </div>
        <app-order-display [orderInfo]="order" [isCart]="false"></app-order-display>
    </div>
    <div *ngIf="order !== undefined && !inTable" class="founded">
        <div class="text-container">
            <p *ngIf="order.isWaiting() && isUser()"><button class="btnDeleteInTable" (click)="deleteOrder()">刪除訂單</button></p>
            <p *ngIf="order.isGoingOrPendingMe()"><button class="btnFinishInTable" (click)="finishOrder()">完成訂單</button></p>
            <p><span class="titleText">訂單編號：</span>{{ order.orderId }}</p>
            <p><span class="titleText">狀態：</span><span [ngClass]="{
                'fa-check-circle':order.isFinished(),
                'fa-arrow-circle-right':order.isGoingOrWaitingOrPending(),
                'fa-times-circle':order.isError(), 'fas':true}"
                >&nbsp;&nbsp;{{ order.stateToString() }}</span></p>
            <p><span class="titleText">外送員：</span>{{ order.deliveryStaff }} (電話：{{order.deliveryStaffObj ? order.deliveryStaffObj.phoneNumber : ''}})</p>
            <p><span class="titleText">食客：</span>{{order.customerObj ? order.customerObj.userName : ''}} (電話：{{order.customerObj ? order.customerObj.phoneNumber : ''}})</p>
            <p><span class="titleText">總金額：</span>{{ order.getFinalPrice() }}</p>
            <p><span class="titleText">外送地址：</span>{{ order.location }}</p>
            <p *ngIf="order.isGoingOrPendingMe()">
                <span class="titleText">評價 {{isDelivery ? '食客' : '外送員'}}：</span>
                <span [ngClass]="{'rating': true, 'ratingInTable': inTable}"><app-rating-stars [orderInfo]="order"></app-rating-stars></span>
            </p>
        </div>
        <app-order-display [orderInfo]="order" [isCart]="false"></app-order-display>
        <a href="/history" class="founded-reutrn"><button class="btnReturn">返回&nbsp;&gt;</button></a>
    </div>
    <div *ngIf="order === undefined" class='nofound-container'>
        <h1>沒有符合的結果</h1>
        <a href="/history"><button class="btnReturn">返回&nbsp;&gt;</button></a>
    </div>
</div>