.orderCard {
    border: 1px darkgray solid;
    border-radius: 2px;
    width: 85%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: lightcyan;
    cursor: help;
    transition: 400ms;
}
.highLight {
    transition: 400ms;
    background: gold;
}

table, td, th {
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px darkslategray solid;
}
table {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
th, td {
    min-width: 80px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}
td { background-color: snow; }
th { background-color: lightblue; }

#getThisOrder {
    padding-right: 5px;
    padding-left: 5px;
    background-color: lightgreen;
    border: 2px darkslategray solid;
    border-radius: 5px;
    cursor: pointer;
}
#getThisOrder:hover {
    background-color: linen;
    color: maroon;
}
#getThisOrder:focus {
    outline: none;
}