<div class="orderCard" id="orderCard-{{orderInfo.orderId}}" (contextmenu)="toggleInfo()" title="右鍵切換詳細資料">
  <button id="getThisOrder" (click)="getOrder()">接單</button>
  <h3>序號：{{orderInfo.orderId}}</h3>
  <h3>外送地址：{{orderInfo.location}}</h3>
  <h3>總價：${{orderInfo.getFinalPrice()}} (餐點：${{orderInfo.getTotalCost()}} | 利潤：${{orderInfo.getFinalPrice() - orderInfo.getTotalCost()}})</h3>
  <h3>店家：<span *ngFor="let store of orderInfo.getKeys()">[{{store.storeName}}] </span></h3>
  <div *ngIf="showInfo">
    <table>
      <thead>
        <tr>
          <th>店家</th>
          <th>商品</th>
          <th>數量</th>
        </tr>
      </thead>
      <tbody *ngFor="let store of orderInfo.getKeys()">
          <tr *ngFor="let item of orderInfo.getValByKey(store)">
            <td>{{store.storeName}}</td>
            <td>{{item.menuItem.productName}}</td>
            <td>{{item.count}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>