app-map {
    position: absolute;
    float: left;
    top: -230px;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
}

#wave {
    height: 170px;
    width: 50vw;
    position: absolute;
    left: 0;
}

#imgUpload {
    display: none;
}

.imgUploadBk {
    cursor: pointer;
    z-index: 10;
}

.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightskyblue;
    top: 5px;
    left: 5px;
    position: relative;
    float: left;
    z-index: 1;
}

.user-img-back {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: lightskyblue;
    top: 35px;
    left: 150px;
    position: relative;
    float: left;
    z-index: 2;
}

.left-top-back {
    background-color: lightskyblue;
    width: 50vw;
    height: 170px;
    top: 60px;
    position: absolute;
    z-index: 0;
}

.info-table {
    background-color: lightblue;
    width: calc(50vw - 100px);
    height: calc(100% - 250px);
    top: 230px;
    position: absolute;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.info-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nickName {
    font-size: 36px;
    font-weight: bold;
}
.trueName {
    font-size: 24px;
}

.editing {
    background-color: darkcyan;
}

#changePass {
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: violet 2px solid;
    border-radius: 6px;
    background-color: lightgray;
    cursor: pointer;
}
#changePass:focus {
    outline: none;
}
#changePass:hover {
    background-color: darkcyan;
    color: white;
}

a {
    text-decoration: none;
}
a:hover {
    color: violet;
}

.editIcon {
    margin-left: 25px;
    margin-top: 4px;
    cursor: pointer;
}

.imgEdit {
    position: relative;
    float: right;
    cursor: pointer;
}

.right-container {
    background-color: lightblue;
    padding: 15px;
    width: calc(50vw - 30px);
    height: calc(100% - 30px);
    left: 50vw;
    z-index: -1;
    position: absolute;
}

.description-container {
    background-color: lightsteelblue;
    border-radius: 15px;
    width: calc(80% - 30px);
    height: 280px;
    position: relative;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 15px;
}
.description-container-exp {
    height: 320px;
}

.description-title {
    text-align: center;
}
.description-title span {
    font-size: 24px;
    font-weight: bold;
}

.description-edit {
    position: relative;
    left: 10px;
    cursor: pointer;
}

#markdownEditor {
    resize: none;
    position: relative;
    top: 10px;
    left: 50%;
    width: 90%;
    height: 110px;
    transform: translate(-50%, 0);
    overflow: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
#markdownEditor:focus {
    outline: none;
}

#markdown {
    position: relative;
    top: 10px;
    left: 50%;
    width: 90%;
    height: 110px;
    transform: translate(-50%, 0);
    overflow: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: snow;
}

.hide {
    display: none;
}

.only-showing {
    height: 220px !important;
}

.contact {
    background-color: lightsteelblue;
    border-radius: 15px;
    width: calc(80% - 40px);
    height: 220px;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    text-align: center;
}

.contact-title {
    font-size: 24px;
    font-weight: bold;
}

.contact-table {
    position: relative;
    margin-top: 15px;
    overflow: auto;
}

.description-text-show {
    position: absolute;
    float: left;
    bottom: 137px;
    left: 30px;
    z-index: 5;
    display: block;
}

.description-text-editor {
    position: absolute;
    float: left;
    bottom: 278px;
    left: 30px;
    z-index: 5;
    display: block;
}

@media screen and (max-width: 760px) {
    .left-container {
        width: 100vw;
    }
    .right-container {
        position: relative;
        left: 0;
        top: 600px;
        z-index: 2;
        padding: 0;
        width: 100%;
        height: 700px;
        padding-bottom: 20px;
    }
    .left-top-back {
        top: 60px;
        width: 100vw;
        height: 170px;
    }
    .info-table {
        width: calc(100vw - 100px);
    }
    .description-container {
        top: 20px;
        padding: 15px;
    }
    .description-title {
        position: relative;
        top: -40px;
    }
    #markdown, #markdownEditor {
        top: -35px;
        min-height: 110px;
    }
}
@media screen and (max-width: 440px) {
    .description-container, .contact {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 400px) {
    .info-table {
        width: calc(100% - 10px);
        padding: 0;
        padding-left: 10px;
        overflow: auto;
    }
    .user-img-back {
        left: 50%;
        transform: translate(-50%, 0);
    }
}