<div id="container">
  <app-headbar></app-headbar>
  <div class="left-container">
    <div class="left-top-back">
      <div id="wave"></div>
      <div class="user-img-back">
        <img class="user-img" id="userImg" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="UserImg">
        <span class="imgEdit">
          <label for="imgUpload" class="imgUploadBk">
            <i *ngIf="editable" class="far fa-edit" title="更換頭像"></i>
            <input type="file" id="imgUpload" (change)="uploadImg()">
          </label>
        </span>
      </div>
    </div>
    <div class="info-table">
      <table>
        <tr>
          <td *ngIf="!nameEdit" colspan="2" id="nameCol"><span class="nickName">{{getNick()}}</span><span class="trueName">{{getName()}}</span></td>
          <td *ngIf="nameEdit" colspan="2">
            <input type="text" id="nameInput" placeholder="真實姓名..." title="真實姓名" value="{{userInfo.userName}}" spellcheck="false">
            <input type="text" id="nickInput" placeholder="暱稱..." title="暱稱" value="{{userInfo.nickName !== null ? userInfo.nickName : ''}}" spellcheck="false">
          </td>
          <td><i *ngIf="editable" class="editIcon far fa-edit" style="margin-top: 15px;" (click)="toggleEditName()"></i></td>
        </tr>
        <tr>
          <td><button id="changePass" (click)="toggleEditPassword()">修改密碼</button></td>
          <td *ngIf="pswEdit"><input id="oldPassInput" type="password" placeholder="輸入舊密碼..." title="輸入舊密碼" spellcheck="false"></td>
        </tr>
        <tr>
          <td *ngIf="pswEdit"><input id="newPassInput" type="password" placeholder="輸入新密碼..." title="輸入新密碼" spellcheck="false"></td>
          <td *ngIf="pswEdit"><input id="newPassInputConfirm" type="password" placeholder="再次輸入新密碼..." title="再次輸入新密碼" spellcheck="false"></td>
        </tr>
        <tr>
          <td>性別：</td>
          <td *ngIf="!genderEdit" id="genderCol">{{(userInfo !== null) ? userInfo.gender : ''}}</td>
          <td *ngIf="genderEdit"><input id="genderInput" type="text" placeholder="性別..." title="性別" value="{{(userInfo !== null) ? userInfo.gender : ''}}" spellcheck="false"></td>
          <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleEditGender()"></i></td>
        </tr>
        <tr>
          <td>Email：</td>
          <td *ngIf="!emailEdit" id="mailCol"><a href="mailto:{{(userInfo !== null) ? userInfo.mailAddress : ''}}">{{(userInfo !== null) ? userInfo.mailAddress : ''}}</a></td>
          <td *ngIf="emailEdit"><input id="mailInput" type="text" title="電子信箱" placeholder="電子信箱..." value="{{(userInfo !== null) ? userInfo.mailAddress : ''}}" spellcheck="false"></td>
          <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleEditEmail()"></i></td>
        </tr>
        <tr>
          <td>手機：</td>
          <td *ngIf="!phoneEdit" id="phoneCol">{{(userInfo !== null) ? userInfo.phoneNumber : ''}}</td>
          <td *ngIf="phoneEdit"><input id="phoneInput" type="text" title="電話" placeholder="電話..." value="{{(userInfo !== null) ? userInfo.phoneNumber : ''}}" spellcheck="false"></td>
          <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleEditPhone()"></i></td>
        </tr>
        <tr>
          <td>地址：</td>
          <td *ngIf="!addressEdit" id="addressCol">{{(userInfo !== null) ? userInfo.address : ''}}</td>
          <td [ngClass]="{'hide': !addressEdit}"><app-map (submitEvent)="setAddress($event)"></app-map></td>
          <td><i *ngIf="editable" class="editIcon far fa-edit" (click)="toggleEditAddress()"></i></td>
        </tr>
        <tr [ngClass]="{'hide': !notRestaurant}">
          <td colspan="3">
            評價：{{getRank()}}
          </td>
        </tr>
        <tr [ngClass]="{'hide': !notRestaurant}">
          <td colspan="3">
            <label class="checkbox-container">外送員
              <input type="checkbox" id="isDelivery" checked="checked" [disabled]="true">
              <span class="checkmark"></span>
            </label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="right-container">
    <div [ngClass]="{'description-container':true, 'description-container-exp':isDescriptionEditing}">
      <div class="description-title">
        <span>自我介紹</span>
        <i *ngIf="editable" class="description-edit far fa-edit" (click)="toggleDescriptionEdit()"></i>
      </div>
      <textarea id="markdownEditor" spellcheck="false" [className]="isDescriptionEditing ? '' : 'hide'"></textarea>
      <div id="markdown" [className]="isDescriptionEditing ? '' : 'only-showing'"></div>
      <span [className]="isDescriptionEditing ? 'description-text-show' : 'hide'">及時預覽</span>
      <span [className]="isDescriptionEditing ? 'description-text-editor' : 'hide'">編輯器</span>
    </div>
    <div class="contact">
      <span class="contact-title">聯絡方式</span>
      <i *ngIf="editable" class="description-edit far fa-edit" (click)="toggleContactEdit()"></i>
      <div class="contact-table">
        <app-other-contact-menu (changeEvent)="saveData()" [contactDict]="(userInfo !== null) ? userInfo.otherContact : {}" [editable]="contactEditable"></app-other-contact-menu>
      </div>
    </div>
  </div>
</div>