.background {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkslategray;
}

.content-display {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow: hidden auto;
    margin: 5px;
}

.QA-container {
    margin-bottom: 25px;
}

.center-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 550px;
    transform: translate(-50%, -50%);
    border: snow 3px solid;
    border-radius: 15px;
    margin-right: 5px;
}

.title {
    text-align: center;
    margin-top: 15px;
    color: aliceblue;
    letter-spacing: 5px;
    font-size: 36px;
}

.question {
    color: lightskyblue;
    text-align: center;
}

.answer {
    color: wheat;
    text-align: center;
    margin-top: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.price-img {
    height: 300px;
}

ul {
    list-style-type: none;
}
.price-info {
    position: relative;
    left: 77%;
    transform: translate(-50%, 0);
    text-align: left;
}

.contact-info a {
    text-decoration: none;
    color: aliceblue;
}

.repostats-link {
    text-decoration: none;
    color: gold;
}
.repostats-link:visited {
    color: orange;
}

.interpreter-shell {
    border: maroon 4px solid;
    border-radius: 8px;
    left: 20%;
    position: relative;
    background-color: black;
    width: 60%;
    color: yellow;
    text-align: left;
}
#interpreter-input {
    width: calc(100% - 80px);
    border: none;
    background-color: black;
    color: yellow;
    resize: none;
}
#interpreter-input:focus {
    outline: none;
}
.interpreter-start {
    text-align: left;
    width: 80px;
    margin-right: 5px;
}

#easter {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

@media screen and (max-width: 850px) {
    .center-canvas {
        width: 95%;
    }
}
@media screen and (max-width: 450px) {
    .center-canvas {
        width: 100%;
        border-left: none;
        border-right: none;
    }
}
@media screen and (max-height: 700px) {
    .center-canvas {
        position: relative;
        border: none;
        transform: translate(-50%, 0);
        height: calc(100vh - 60px);
        overflow: auto;
    }
}