<div>
  <app-headbar></app-headbar>
  <div class="background"></div>
  <div class="center-canvas">
    <div class="content-display">
      <h1 class="title">FAQ</h1>
      <ul class="QA-container">
        <hr>
        <li class="question"><h2>Q: 總價錢不是直接相加？</h2></li>
        <li class="answer">
          <p>A: 價錢會包含外送員的運送費用，計算方法如下圖。</p>
          <img class="price-img" src="https://trello-attachments.s3.amazonaws.com/5cb05d866d23f90e64ba596b/708x429/d803b43167e2487ec82337a88c9bf160/image.png" alt="計價演算法">
          <div class="price-info">
            <span><b>說明：</b></span><br>
            <span>總價 = 基本費 x 參數 ^ (距離係數 + 餐點係數)</span><br>
            <span>基本費：$33</span><br>
            <span>參數：1.0813</span><br>
            <span>距離係數 = ReLU(x), x 如上圖</span><br>
            <span>餐點係數 = log10(餐點總價)</span><br>
          </div>
        </li>
        <hr>
        <li class="question"><h2>Q: 如何成為外送員？</h2></li>
        <li class="answer">
          <p>A: 在個人資料頁面，填入任意其他聯絡資料。</p>
          <p>重新整理即會看到右邊側邊欄出現切換身份按鈕。</p>
        </li>
        <hr>
        <li class="question"><h2>Q: 外送員未收到通知？</h2></li>
        <li class="answer">
          <p>A: 請檢查通知設定。</p>
          <div>
            <p>以電腦版 Chrome 為例：</p>
            <p>點擊網址列左邊的鎖頭，將 "通知" 的權限設定為允許。</p>
          </div>
        </li>
        <hr>
        <li class="question"><h2>Q: 在購物車結帳顯示輸入地址？</h2></li>
        <li class="answer">
          <p>A: 系統需要外送地址才能計算價錢和外送。</p>
          <p>你可以到使用者資訊填入固定地址，或是到搜尋頁面填入地址欄位。</p>
        </li>
        <hr>
        <li class="question"><h2>Q: 你的問題未獲得解答？</h2></li>
        <li class="answer">
          <p>A: 聯絡網站<span id="easter" (click)="easterClick($event)">維護人員：</span></p>
          <div class="contact-info">
            <span><a href="mailto:stanley2058@yahoo.com.tw">stanley2058@yahoo.com.tw</a></span><br>
            <span><a href="mailto:penut85420@gmail.com">penut85420@gmail.com</a></span><br>
          </div>
        </li>
        <hr *ngIf="isDelveloper">
        <li *ngIf="isDelveloper" class="question"><h2>Q: 網站分工？ (開發人員)</h2></li>
        <li *ngIf="isDelveloper" class="answer">
          <p>A: 分工如下</p>
          <p>前端： <a class="repostats-link" href="https://aksstw.com/angular-cdn/OE-FrontRepoStats.html" target="_blank">Repo Stats 2019/06/16</a></p>
          <p>後端： <a class="repostats-link" href="https://aksstw.com/angular-cdn/OE-BackRepoStats.html"  target="_blank">Repo Stats 2019/06/16</a></p>
        </li>
        <hr *ngIf="isDelveloper">
        <li *ngIf="isDelveloper" class="question"><h2>Q: Need A Interpreter？</h2></li>
        <li *ngIf="isDelveloper" class="answer">
          <div class="interpreter-shell">
            <div id="shell"></div>
            <span class="interpreter-start">&gt;&gt;&gt;</span>
            <input type="text" id="interpreter-input" spellcheck="false" (keyup)="input($event)">
          </div>
          <div id='anchor'></div>
        </li>
      </ul>
    </div>
  </div>
</div>