#contactTable, th, td {
    border: solid 2px darkslategray;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#contactTable th {
    background-color: lightsteelblue;
}

#contactTable td {
    background: rgb(204, 210, 221);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#contactTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.contactRow {
    cursor: help;
}

.display-container {
    margin-top: 10px;
    max-width: 330px;
    max-height: 105px;
    overflow: auto;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}