<div *ngIf="showing()">
  <div class="display-container">
    <table id="contactTable">
      <thead>
        <tr>
          <th>聯絡管道</th><th>聯絡資訊</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of contactDict | keyvalue" title="右鍵刪除" class="contactRow" (contextmenu)="delete(item.key)">
          <td>{{ item.key }}</td><td>{{ item.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>