/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

@font-face {
  font-family: "Noto Sans TC", sans-serif;
  font-display: fallback;
  src: local('Noto Sans TC'), url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
}

* {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-display: auto;
}

input[type=text] {
  display: inline-block;
  min-width: 0;
}

html {
  overflow: hidden auto;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightcyan;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkcyan;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkslategray;
}
