<table class="cart-table">
  <thead>
    <tr>
      <th class="col-res">餐廳</th>
      <th>餐點</th>
      <th class="col-count">數量</th>
      <th class="col-price">價格</th>
      <th class="col-delete" *ngIf="isCart">刪除</th>
      <th class="col-small">操作</th>
    </tr>
  </thead>
  <tbody *ngFor="let store of orderInfo.getKeys()">
    <tr *ngFor="let item of orderInfo.getValByKey(store)">
      <td class="col-res">{{ store.storeName }}</td>
      <td>{{ item.getName() }}</td>
      <td class="col-count">
        <span *ngIf="isCart" class="minusBtnBack" (click)="item.minusCount()"><button class="minusBtn">-</button></span>
        {{ item.count }}
        <span *ngIf="isCart" class="addBtnBack" (click)="item.addCount()"><button class="addBtn">+</button></span>
      </td>
      <td class="col-price">{{ item.getTotalPrice() }}</td>
      <td *ngIf="isCart" class="col-delete"><button class="deleteBtn" (click)="orderInfo.removeItem(store, item)">刪除</button></td>
      <td class="col-small">
        <table class="small-table">
          <tr>
            <td>數量：</td>
            <td class="small-table-right-col">
              <span *ngIf="isCart" class="minusBtnBack" (click)="item.minusCount()"><button class="minusBtn">-</button></span>
              {{ item.count }}
              <span *ngIf="isCart" class="addBtnBack" (click)="item.addCount()"><button class="addBtn">+</button></span>
            </td>
          </tr>
          <tr>
            <td>價錢：</td>
            <td>{{ item.getTotalPrice() }}</td>
          </tr>
          <tr *ngIf="isCart"><td colspan="2"><button class="deleteBtn" (click)="orderInfo.removeItem(store, item)">刪除</button></td></tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>