.cart-table, th, td {
    text-align: center;
    border: darkslategray 3px solid;
    border-collapse: collapse;
}

.cart-table td {
    overflow: auto hidden;
}

.cart-table {
    margin-top: 20px;
    table-layout: fixed;
    position: relative;
    width: 500px;
    left: calc(50% - 250px);
}

.cart-table th {
    background-color: wheat;
}

.deleteBtn {
    font-size: 14px;
    background-color: lightblue;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
}
.deleteBtn:hover {
    background-color: red;
    color: lemonchiffon;
}
.deleteBtn:focus, .minusBtn:focus, .addBtn:focus {
    outline: none;
}

.minusBtn, .addBtn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.minusBtnBack {
    float: left;
    margin-left: 8px;
    background-color: red;
}
.addBtnBack {
    background-color: blue;
    float: right;
    margin-right: 8px;
}
.addBtnBack, .minusBtnBack {
    border: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 3px;
}
.col-count {
    width: 80px;
}
.col-price, .col-delete {
    width: 60px;
}
.col-small {
    display: none;
}
.small-table {
    text-align: center;
    border: none;
    border-collapse: collapse;
    width: 100%;
}
.small-table td {
    border: none;
}
.small-table-right-col {
    min-width: 80px;
}

@media screen and (max-width: 750px) {
    .cart-table {
        left: 50%;
        transform: translate(-50%, 0);
        position: relative;
        max-width: 100%;
    }
}
@media screen and (max-width: 520px) {
    .cart-table {
        width: 100%;
    }
    .col-small {
        display: table-cell;
    }
    .col-count, .col-price, .col-delete {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .col-small {
        width: 130px;
    }
    .col-res {
        width: 75px;
    }
}