.background {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.form {
    top: 26vh;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    width: 300px;
}

input {
    margin: 10px;
    padding: 2px;
    margin-left: 5vw;
}

.header p {
    font-size: 14px;
    color: red;
}

#submit {
    font-size: 16px;
    font-weight: bold;
    background: lightblue;
    border: solid 2px maroon;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}
#submit:focus {
    outline: none;
}

.title {
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 48px;
}

.typeSelector {
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.typeSelector button {
    font-size: 16px;
    margin: 8px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.typeSelector button:focus {
    outline: none;
}

.selected {
    border: solid 1px brown;
    background-color: darkslategray;
    color: aliceblue;
}

.notSelected {
    border: solid 1px darkcyan;
    background-color: lightcyan;
    color: brown;
}

@media screen and (max-width: 500px) {
    .title, .typeSelector {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 350px) {
    .form {
        width: calc(100% - 10px);
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        border-radius: 0;
    }
}