<div class="background">
    <app-headbar [showLogin]='false'></app-headbar>
    <div *ngIf="!submited" class='title'>註冊新會員</div>
    <div *ngIf="!submited">
      <div class='typeSelector'>
        <button id='btnUsr' [class.selected]="selected === 0" [class.notSelected]="selected !== 0" (click)="selected = 0">一般使用者</button>
        <button id='btnDel' [class.selected]="selected === 1" [class.notSelected]="selected !== 1" (click)="selected = 1">外送員</button>
        <button id='btnRes' [class.selected]="selected === 2" [class.notSelected]="selected !== 2" (click)="selected = 2">餐廳</button>
      </div>
      <div class='form'>
        <div class="header">
            <p>* 為必填欄位</p>
        </div>
        <div>
          <app-register-sub-normal [show]="selected === 0"></app-register-sub-normal>
          <app-register-sub-delivery [show]="selected === 1"></app-register-sub-delivery>
          <app-register-sub-restaurant [show]="selected === 2"></app-register-sub-restaurant>
        </div>
        <div class='footer'>
          <button id='submit' type='submit' (click)="submit()">提交</button>
        </div>
      </div>
    </div>
    <app-register-verify [displayObject]="displayObject" *ngIf="submited"></app-register-verify>
</div>