.container {
    display: grid;
    grid-template-areas: "top" "map";
    grid-template-rows: 80px 1fr;
    grid-gap: 0;
    background-color: lightcyan;
}
.btnPanel {
    display: inline;
}
#addressInput {
    font-size: 20px;
    border-radius: 20px;
    border: 2px maroon solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    top: 1.3px;
    position: relative;
}
#autoDetect, #submit, #search {
    font-size: 18px;
    border: maroon 2px solid;
    border-radius: 5px;
    margin-left: 15px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}
#autoDetect:hover, #submit:hover, #search:hover {
    border: darkred 2px solid;
    background-color: azure;
    color: darkslateblue;
}
#addressInput:focus, #autoDetect:focus, #submit:focus, #search:focus {
    outline: none;
}

.topContainer {
    position: relative;
    grid-area: top;
    text-align: center;
    margin-top: 20px;
}

.mapContainer {
    grid-area: map;
}

agm-map {
    height: calc(100vh - 80px);
}

@media screen and (max-width: 570px) {
    .container {
        grid-template-rows: 110px 1fr;
    }
    .btnPanel {
        display: block;
        margin-top: 5px;
    }
}