<div class="container">
  <div class="topContainer">
    <input google-place type="text" class="google-place-input" placeholder="地址 / 名稱..." id="addressInput" spellcheck="false">
    <div class="btnPanel">
      <button id="search" (click)="search()">搜尋</button>
      <button id="autoDetect" (click)="setCurrentLocation()">自動偵測</button>
      <button id="submit" (click)="submit()">確定</button>
    </div>
  </div>
  <div class="mapContainer">
    <agm-map 
      [latitude]='lat' 
      [longitude]='lng'
      [zoom]="zoom"
      (mapClick)="setPosition($event.coords.lat, $event.coords.lng)"
      (mapReady)="mapReady($event)"
    >
      <agm-marker
        [latitude]='marker.lat'
        [longitude]='marker.lng'
        [markerDraggable]="true"
      >
      </agm-marker>
    </agm-map>
  </div>
</div>