<table [@showHide]="show">
    <tr>
      <td><label>*電話：</label></td>
      <td><input name='phone' type="text"></td>
    </tr>
    <tr>
      <td><label>*海大信箱：</label></td>
      <td>
        <input name="email" class='ntouEmail' type="text">
        <label class='ntouEmailPost'>@mail.ntou.edu.tw</label>
      </td>
    </tr>
    <tr>
      <td><label>*真實姓名：</label></td>
      <td><input name='name' type="text"></td>
    </tr>
    <tr>
      <td><label>*密碼：</label></td>
      <td><input name='pass' type="password"></td>
    </tr>
    <tr>
      <td><label>*確認密碼：</label></td>
      <td><input name='passCheck' type="password"></td>
    </tr>
    <tr>
      <td><label>性別：</label></td>
      <td><input name='gender' type="text"></td>
    </tr>
    <tr>
      <td><label>暱稱：</label></td>
      <td><input name='nick' type="text"></td>
    </tr>
    <tr>
      <td><label>地址：</label></td>
      <td><input name='location' type="text"></td>
    </tr>
  </table>