<div class='headbar'>
  <img src="assets/img/ocean_eat.svg" alt="Logo" class="logo" onclick="document.location.href='/';">
  <div *ngIf='showLogin' class="btn-container">
      <button *ngIf="!isLogin" class='btn' id='singIn' onclick="window.open('/login', '_self')">登入</button>
      <button *ngIf="!isLogin" class='btn' id='register' onclick="window.open('/register', '_self')">註冊</button>
      <button *ngIf="isLogin" class='btn' id='logOut' (click)="logout()">登出</button>
  </div>
  <button [ngClass]="{'fas':true, 'btn-nav':true, 'fa-bars':!showNav, 'fa-arrow-down':showNav}" (click)="toggleShowNav()"></button>
  <div [ngClass]="{'nav-container':true, 'nav-container-show':showNav, 'nav-container-hide':!showNav && !init}">
    <div [ngClass]="{'nav-content':true, 'nav-content-show':showNav}">
        <ul>
          <a *ngIf="!isRestaurant" href="/"><li>首頁</li></a>
          <a *ngIf="!isRestaurant" href="/search"><li>搜尋</li></a>
          <a *ngIf="!isLogin" href="/register"><li>註冊</li></a>
          <a *ngIf="!isLogin" href="/login"><li>登入</li></a>
          <a *ngIf="isDelivery" href="/orders"><li>外送訂單</li></a>
          <a *ngIf="isCustomer" href="/cart"><li>購物車</li></a>
          <a *ngIf="isLogin && !isRestaurant" href="/history"><li>歷史紀錄</li></a>
          <a *ngIf="isLogin" href="/userprofile"><li>使用者資訊</li></a>
          <a *ngIf="isRestaurant" href="/management"><li>餐廳管理</li></a>
          <a href="/report"><li>FAQ</li></a>
          <li class="noStyleLi"></li>
          <li *ngIf="isLogin && !isRestaurant && isQualified" class="noStyleLi">{{getUserType()}}</li>
          <li *ngIf="isLogin && !isRestaurant && isQualified" class="noStyleLi">
            <label class="switch">
              <input type="checkbox" id="userSwitch" (click)="toggleUser()" [checked]="isDelivery">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
    </div>
  </div>
</div>
