.headbar {
    background-color: lightsteelblue;
    width: 100%;
    height: 60px;
    float: left;
    z-index: 1000;
}

.logo {
    height: 55px;
    left: 5px;
    position: absolute;
    cursor: pointer;
}

.noStyleLi {
    cursor: auto !important;
}
.noStyleLi:hover {
    background-color: transparent !important;
}

.btn {
    height: 28px;
    font-size: 16px;
    border: 0;
    margin: 5px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: darkcyan;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
}
.btn:focus {
    outline: none;
}
.btn-container {
    position: absolute;
    float: right;
    padding-top:10px;
    padding-right:20px; 
    text-align: right;
    right: 40px;
    top: 4px;
}

#register {
    background-color: darkcyan;
    color: lemonchiffon;
}

.btn-nav {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    color: darkslategray;
    position: relative;
    top: 55%;
    right: 20px;
    transform: translate(0, -50%);
    margin-left: 20px;
}
.btn-nav:hover {
    color: gray;
}
.btn-nav:focus {
    outline: none;
}

.nav-container {
    background-color: lightblue;
    float: right;
    position: absolute;
    height: calc(100vh - 60px);
    top: 60px;
    right: 0px;
    z-index: 1000;
}
.nav-container-show {
    animation: navShowAnimation 550ms 1;
    width: 200px;
}
.nav-container-hide {
    animation: navHideAnimation 400ms 1;
}

@keyframes navShowAnimation {
    0% {width: 0px;}
    100% {width: 200px;}
}
@keyframes navHideAnimation {
    0% {width: 200px;}
    100% {width: 0px;}
}

.nav-content {
    display: none;
}

.nav-content-show {
    animation: navContentShowAnimation 700ms 1;
    display: block !important;
}

@keyframes navContentShowAnimation {
    0% {width: 0px; opacity: 0; display: none;}
    60% {opacity: 0; display: none;}
    100% {width: 200px;  opacity: 1;}
}

.nav-content ul {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}
.nav-content li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.nav-content li:hover {
    background-color: silver;
}

a {
    text-decoration: none;
    color: darkblue;
}
a:visited {
    color: darkblue;
}
a:hover {
    color: white;
}

@media screen and (max-width: 360px) {
    .btn {
        margin: 2px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(52px);
    -ms-transform: translateX(52px);
    transform: translateX(52px);
    }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 2px brown solid;
}

.slider.round:before {
    border-radius: 50%;
}